<h1> Welcome Home! </h1>


<% @stations.each do |station| %>

<div>
<h3>Here is a bike station:</h3>

Station id: <%= station.bike_station_id %> </br>
<%= station.name %></br>
<%= station.terminal_name %> </br>
<%= station.last_comm_with_server %></br>
<%= station.lat %></br>
<%= station.long %></br>
<%= station.installed %></br>
<%= station.locked %></br>
<%= station.install_date %></br>
<%= station.removal_date%></br>
<%= station.temporary %></br>
is a Public Station: <%= station.public_station %></br>
<b> Number of bikes at station: <%= station.num_of_bikes %> </b></br>
<%= station.num_of_empty_docks %></br>
<%= station.latest_updated_time %></br>
<%= station.created_at %></br>
<%= station.updated_at %></br>
</br>






</div>


<% end %>


